{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Financial Simulation</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Financial Simulation</a></h1>
        </header>
        <p>
            This is where the graph will go.
        </p>

    </body>


</html>

{{end}}